@{
    ViewBag.Title = "Downloads";
}
@model List<string>
    <br />
<h2 style="color:darkturquoise">Downloads</h2>
<table>
    <tr>
        <th style="color:darkorange">File Name</th>
        <th style="color:darkorange">Link</th>
    </tr>
    @for (var i = 0; i <= Model.Count - 1; i++)
    {
    <tr>
    <td>@Model[i].ToString() </td>
    <td>
        @Html.ActionLink("Download",
        "Download", new { ImageName = @Model[i].ToString() })
        </td>
    </tr>
    }
</table>
<br />
<br />
<div>@Html.ActionLink("Back to Command Console","Index","Budget")</div>