<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <br />
    <br />
    <div>
        @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <span>Select File:</span>
            <input type="file" name="postedFile" />
            <hr />
            <input type="submit" value="Upload" />
            <br />
            <span style="color:green">@ViewBag.Message</span>
        }
    </div>
    <div>@Html.ActionLink("Return to Expenditures", "Create", "Expenditures")</div>
</body>

</html>