@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image :url(http://backgroundcheckall.com/wp-content/uploads/2017/12/money-transparent-background-4.png)">
    <br />
    <br />

</div>
<h1 style="color: darkorange">Step 1: Register</h1>
<h1 style="color:darkorange">Step 2: Fill out Questionnaire</h1>
<h1 style="color:darkorange" ;>Step 3: ???</h1>
<h1 style="color:darkorange" ;>Step 4: <a style="color: green">Profit</a></h1>